@import url(perguntas-frequentes.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

#logo {
    width: 200px;
    margin-left: 40px;
}

#cabecalho {
    background-image: url(../img/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 50px;
}

.barra-topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
    height: 65px;
    width: 100%;
    margin-bottom: 50px;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

#form-pesquisa {
    margin: 0 auto;
    display: flex;
    width: 500px;
    justify-content: center;
    background-color: white;
    color: white;
    font-size: 1.5em;
    border-radius: 30px;
}

#menu a {
    border-radius: 20px;
    padding: 10px;
    background-color: white;
    color: black;
}

#form-pesquisa form {
    display: flex;
    align-items: center;
    padding: 5px
}

#form-pesquisa form input {
    margin-left: 20px;
    margin-right: 20px;
    height: 40px;
    font-size: 1rem;
    border: none;
}

#form-pesquisa form i {
    padding: 5px;
    font-size: 1.2rem;
}

#form-pesquisa button {
    background-color: black;
    font-size: 1.2rem;
    height: 30px;
    border: none;
    width: 100px;
    border-radius: 20px;
    color: #ffffff;
    cursor: pointer;
}

.lista-card-personal {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
}

.bloco-personal {
    flex-grow: 1;
    width: calc((100% / 3) - 30px);
}

.bloco-personal img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.avaliacao {
    display: flex;
    margin-bottom: 15px;
    margin-top: 15px;
}

.verificado {
    margin-left: auto;
}

.descricao {
    margin-bottom: 15px;
}

.preco-personal {
    margin: 0 auto;
    width: 200px;
    border-radius: 20px;
    background-color: #9c6efe;
    padding: 5px;
    text-decoration: none;
    margin-bottom: 70px;
}

.preco-personal a {
    color: white;
    display: flex;
    justify-content: center;
}

.ver-mais {
    margin: 0 auto;
    padding: 12px;
    background-color: #9c6efe;
    width: 200px;
    border-radius: 20px;
    text-decoration: none;
}

.ver-mais a {
    color: white;
    display: flex;
    justify-content: center;
}

.ver-mais a i {
    margin-left: 10px;
    font-weight: bold;
}

#rodape {
    margin-top: 70px;
    border-top: 2px solid #9e0fff;
    padding: 30px;
    background-color: #9c6efe;
}

#linha-rodape {
    display: flex;
    justify-content: space-between;
}

.coluna-rodape {
    width: 25%;
}

.redes-sociais {
    margin-top: 10px;
}

.redes-sociais a {
    font-size: 2.0em;
    color: black;


}

.coluna-rodape ul li {
    margin-top: 10px;
    list-style: none;
    color: white;
}

.coluna-rodape h3 {
    color: white;
}

/* Pagina de login */


.area-cadastro form {
    display: flex;
    flex-direction: column;
}

.area-login form { 

    display: flex;
    flex-direction: column;
}

.area-login {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 360px;
    margin: 123px auto;
    background-color: #E2D7FA;
    padding: 30px;
}

.area-login input {
    height: 40px;
    border-radius: 10px;
    width: 300px;
    padding: 25px 10px 25px 10px;
    border: none;
    margin-top: 20px;
    background-color: #F2F2F2;
}

#botao-login {
    cursor: pointer;
    margin-top: 20px;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 20px 50px 20px 50px;
    background-color: red;
}

.botoes-cadastro {
    margin-bottom: 20px;
    margin-top: 20px;
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.area-login .face {
    border-radius: 10px;
    color: white;
    padding: 15px 20px 15px 20px;
    background-color: #545998;
}

.area-login .gmail {
    border-radius: 10px;
    color: white;
    padding: 15px 30px 15px 30px;
    background-color: #5D99FB;
}

.area-login p {
    font-weight: bold;
    font-size: 12px;
    margin-top: 5px;
}

.inscreva-se {
    color: black;
}

.inscreva-se:hover {
    color: red;
}

.esqueci-minha-senha {
    color: black;
}

.esqueci-minha-senha:hover {
    color: red;
}

#cabecalho-secundario {
    background-color: #9C6EFE;
    background-repeat: no-repeat;
    background-size: cover;
    height: 120px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 50px;
}


/* Página de perfil Personal */

.tags ul {
    list-style: none;
}

.tags li {
    display: inline-block;
    margin-right: 10px;
    padding: 8px;
    background-color: #9C6EFE;
    color: white;
    border-radius: 15px;
}

.bloco-pefil-personal {
    float: right;
    width: 250px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Centraliza verticalmente */
    align-items: center;
    /* Centraliza horizontalmente */
}

.card-perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centraliza horizontalmente os elementos internos */
}

.foto-perfil-personal img {
    margin-left: 35px;
}

.avaliacao-perfil-personal {
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 10px;
}

.verificado2 {
    margin-left: 120px;
}

.informacoes-perfil-personal {
    width: 100%;
    max-width: 300px;
    border-collapse: collapse;
    margin-top: 10px;
}

.informacoes-perfil-personal td {
    padding: 10px;
    border: 1px solid #9C6EFE;
}

.informacoes-perfil-personal td span {
    display: block;
    font-size: 14px;
}

.informacoes-perfil-personal td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.contatar {
    margin-top: 15px;
    padding: 12px;
    background-color: #9C6EFE;
    border-radius: 15px;
    max-width: 120px;
    
    /* Adiciona margem automática à esquerda e à direita para centralizar horizontalmente */
}

.contatar a {
    color: white;
}

.locais-aulas h2 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.locais-aulas ul li {
    display: inline;
    list-style: none;
    padding: 10px;
    border: 1px solid #9C6EFE;
    border-radius: 25px;
    max-width: 100px;
}

.ultima-li {
    margin-top: 5px;
}

.oque-e-verificado {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    padding: 10px;
    border-radius: 25px;
    background-color: #D5C5F8;
    max-width: 900px;
    margin-right: 400px;
}

.imagem-verificado {
    display: flex;
    align-items: center;
    /* Alinha os itens ao centro horizontalmente */
}

.imagem-verificado img {
    margin-right: 10px;
    /* Adiciona espaço à direita da imagem para separar do texto */
}

.texto-verificado {
    margin-top: 10px;
    /* Adiciona espaço acima do bloco de texto */
    margin-bottom: 30px;

}

.mais-sobre-personal {
    margin-top: 30px;
}

.mais-sobre-personal h2 {
    margin-bottom: 20px;
}

.mais-sobre-personal p {
    margin-bottom: 30px;
}

.sobre-aula h2 {
    margin-bottom: 10px;
}

.sobre-aula ul {
    margin-bottom: 20px;
    list-style: none;
    padding: 10px;
    border: 1px solid #9C6EFE;
    border-radius: 25px;
    max-width: 200px;
}

/* Pagina de Cadastro */

.area-cadastro {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    margin: 123px auto;
    background-color: #E2D7FA;
    padding: 30px;
}

.titulo-cadastro {
    border-radius: 10px;
    padding: 7px 15px 7px 15px;
    color: #000000 ;
    margin: 20px auto;
}

.area-cadastro form { 
    display: flex;
    flex-direction: column;
}

.area-cadastro input {
    border-radius: 10px;
    width: 300px;
    padding: 15px 10px 15px 10px;
    border: none;
    margin-top: 5px;
    margin-bottom: 20px;
    background-color: #F2F2F2;
}

.area-cadastro select {
    border-radius: 10px;
    width: 300px;
    padding: 15px 0px 15px 0px;
    border: none;
    margin-top: 5px;
    margin-bottom: 20px;
    background-color: #F2F2F2;
}

#botao-cadastro {
    cursor: pointer;
    margin-top: 20px;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 20px 50px 20px 50px;
    background-color: red;
}

.botoes-cadastro {
    margin-bottom: 20px;
    margin-top: 20px;
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.area-cadastro .face {
    border-radius: 10px;
    color: white;
    padding: 15px 20px 15px 20px;
    background-color: #545998;
}

.area-cadastro .gmail {
    border-radius: 10px;
    color: white;
    padding: 15px 30px 15px 30px;
    background-color: #5D99FB;

}